@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--dark: #016a70;
	--medium: #d2de32;
	--light: #ffffdd;
	--accent: #a2c579;
}

* {
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
}

html {
	font-size: 20px;
	overflow: hidden;
}

body {
	background: linear-gradient(45deg, var(--medium), var(--light), var(--accent));
	background-size: 400%;
	animation: bg-animation 15s infinite alternate linear;
	height: 100dvh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

@keyframes bg-animation {
	0% {
		background-position: bottom left;
	}
	100% {
		background-position: top right;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lobster', cursive;
	text-align: center;
}

input {
	font-size: 1rem;
	text-align: center;
	padding: 5px;
	border-radius: 10px;
	border: 2px solid black;
}

a {
	text-align: center;
	background-color: var(--dark);
	color: var(--light);
	padding: 5px;
	border-radius: 5px;
	display: block;
}

a.disabled {
	pointer-events: none;
	color: grey;
}

label {
	display: inherit;
}
